/* index.css will need to be adjusted, it's overriding styles */
header {
  padding: 1%;
}

.navbar {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  margin: 2px;
  padding: 3px 12px;
  border:1.5px solid black;
  border-radius: 25px;
  font-weight: 700;
  color: #646cff;
}

main {
  min-height:80vh;
  display:flex;
  justify-content: center;
}

.tempbox {
  margin-top: 5%;
  width: 30rem;
  height: 10rem;
  display:flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

footer {
  bottom: 0;
  width: 100%;
  height: 5rem;
  text-align: center;
}