/* index.css will need to be adjusted, it's overriding styles */
/* --- BODY --- */


/* --- HEADER --- */

header { padding: 1%; }

.navbar {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
}

nav a {
    color: black;
    cursor: pointer;
    text-decoration: none;
    margin: 2px;
    padding: 3px 12px;
    border: 1.5px solid;
    font-weight: 700;
}

/* --- SEARCHBAR --- */

.searchbar {
    border-radius: 25px;
    border: 2px solid black;
    background-color: gainsboro; 
    width: 50%;
    height: 2rem;
    padding: 1.5px 2%;
    margin: 0 1%;
    display:flex;

}
/* gemini suggestion for text input to match searchbar div */
.searchbar input {
    all: unset;
    flex: 1;
    min-width: 0;
    height: 100%
}

/* --- MAIN --- */
main {
    height: 80vh;
}

/* --- FOOTER --- */
footer {
    bottom: 0;
    width: 100%;
    height: 5rem;
    text-align:center;
    font-weight: 700;
}
